{% extends "users/base.html" %}

{% block body %}
<h1 style="background-color: blue; color: white;">AskDesk</h1>
<h3>Hello, {{ user.first_name }}</h1>

    <h3>Currently logged in as: {{ user.username }}</h3>


	<ul style=" display: flex;
    flex-direction: column-reverse;">
		
		
		{% for p in posts %}
		<li style="  margin: 20px;  flex: 0 0 auto;" >
		<span style=" padding: 5px; color: green">{{ p.usern }}<br></span><br>
		{{ p.post }}
		</li>
		{%empty %}
		<li>No Posts</li>
		{% endfor %}	
		<li style=" margin: 20px; flex: 0 0 auto;">
			<span style="  color: blue;">{{ user.username }}<br></span><br>
			<form action="{% url 'index' %}" method="post">
			{% csrf_token %}
				<input type="text" name="note">
				<button type="submit">add post</button>
			</form>
		</li>
	</ul>

	<hr>

<a href="{% url 'logout' %}"><h3 style = "color: red;" >Logout</h3></a>
{% endblock %}
